﻿
@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/growl")
    @Styles.Render("~/Content/datatable")

}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Unidades</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
                    <li class="breadcrumb-item active">Unidades</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body" v-cloak id="app">
            <div class="row">
                @*<div class="col-md-12">
                        <button @@click="agregar" type="button" class="btn btn-sm btn-secondary">
                            <i class="fa fa-plus-circle mr-1"></i>Agregar Unidades
                        </button>
                    </div>*@
                <hr />
                <div class="col-md-12 mt-2">
                    <div class="table-responsive">
                        <table id="tblUnidades" class="table w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Unidad
                                    </th>
                                    <th>
                                        Tipo de transporte
                                    </th>
                                    <th>
                                        Capacidad
                                    </th>
                                    <th>
                                        Tipo de combustible
                                    </th>
                                    <th>
                                        Esta disponible
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Modal*@
            <div class="modal fade" id="modalUnidad">
                <form id="formUnidad" method="post" @@submit.prevent="guardar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">{{esNuevo ? 'Agregar' : 'Editar'}} Unidad</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.ID_UNIDAD, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.ID_UNIDAD, new { id = "IdUnidad", value = 0, htmlAttributes = new { @class = "form-control justNumbers", @min = "1", @pattern = "^[0-9]+" } })
                                            @Html.ValidationMessageFor(model => model.ID_UNIDAD, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.UNIDAD, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.UNIDAD, new { id = "Unidad", value = "", htmlAttributes = new { @class = "form-control justNumbers", @min = "1", @pattern = "^[0-9]+" } })
                                            @Html.ValidationMessageFor(model => model.UNIDAD, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                    <i class="fa fa-times mr-1"></i>Cancelar
                                </button>
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-save mr-1"></i> Guardar
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </form>
            </div>

            @*<div class="modal fade" id="modalUnidadEliminar">
                    <form id="formUnidadEliminar" method="post" @@submit.prevent="eliminar">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="modal-title">Eliminar Unidades</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>¿Desea eliminar este registro?</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            @Html.LabelFor(model => model.Pregunta.IdUnidad, htmlAttributes: new { @class = "control-label" })
                                            <div class="form-group">
                                                <input type="text" class="form-control" v-model="tipoPregunta.IdUnidad" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Pregunta.Nombre, htmlAttributes: new { @class = "control-label" })
                                            <div class="form-group">
                                                <input type="text" class="form-control" v-model="tipoPregunta.Nombre" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                        <i class="fa fa-times mr-1"></i> Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash mr-1"></i> Eliminar
                                    </button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </form>
                </div>*@
            <!-- /.modal -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<script>
    debugger;
    //// var a = document.getElementById("IdUnidad");
    //// if (a == null) {
    ////     a = 0;
    //// }
    ////    a.setAttribute("v-model", 0);
    ////var b =  document.getElementById("Unidad").setAttribute("v-model", "RUTA");

    debugger;
    const app = new Vue({
        el: '#app',
        data: {
            indice: 0,
            esNuevo: false,

            Unidad: {
                IdUnidad: null,
                Unidad: ''
            },
            siguiente: 0
        },
        methods: {
            listado: function () {
                let columnas = [{ "data": "ID_UNIDAD" }, { "data": "TRANSPORTEDES" },
                    { "data": "CAPACIDAD" }, { "data": "COMBUSTIBLEDES" }, { "data": "DISPONIBLE" }];
                $.Tablas.TablaAjax("#tblUnidades", "/Unidad/Listado", "get", columnas);
            },

        },
        mounted: function () {
            this.listado();
        }
    });
</script>
@*<script src="../../Vue/UnidadController.js"></script>*@