﻿
@{ 
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/growl")
    @Styles.Render("~/Content/datatable")

}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Casetas</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
                    <li class="breadcrumb-item active">Casetas</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body" v-cloak id="app">
            <div class="row">
                @*<div class="col-md-12">
                        <button @@click="agregar" type="button" class="btn btn-sm btn-secondary">
                            <i class="fa fa-plus-circle mr-1"></i>Agregar Casetas
                        </button>
                    </div>*@
                <hr />
                <div class="col-md-12 mt-2">
                    <div class="table-responsive">
                        <table id="tblCasetas" class="table w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Ubicacion
                                    </th>
                                    <th>
                                        Ruta
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Modal*@
    


            <!-- /.modal -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<script>
    debugger;
    //// var a = document.getElementById("IdCaseta");
    //// if (a == null) {
    ////     a = 0;
    //// }
    ////    a.setAttribute("v-model", 0);
    ////var b =  document.getElementById("Caseta").setAttribute("v-model", "RUTA");

    debugger;
    const app = new Vue({
        el: '#app',
        data: {
            indice: 0,
            esNuevo: false,

            Caseta: {
                IdCaseta: null,
                Caseta: ''
            },
            siguiente: 0
        },
        methods: {
            listado: function () {
                debugger;
                let columnas = [{ "data": "UBICACION" }, { "data": "RUTASDESC" }];
                $.Tablas.TablaAjax("#tblCasetas", "/Caseta/Listado", "get", columnas);
            },

        },
        mounted: function () {
            debugger;
            this.listado();
        }
    });
</script>
@*<script src="../../Vue/CasetaController.js"></script>*@