﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViajesPresupuesto</title>
    @*@Styles.Render("~/Content/adminlte")*@

    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Font Awesome -->
    @Styles.Render("~/Content/FontAwesome")
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Select2 -->
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

    <style>
        [v-cloak] {
            display: none;
        }

        /* a.login {
            color: lightblue !important
        }
            a.login:hover {
                color: lavenderblush !important;
            }*/

    </style>
    @RenderSection("Styles", required: false)
    <!-- Tempusdominus Bbootstrap 4 -->

  @*  <link rel="stylesheet" href="../../Assets/bootstrap-datepicker.css">*@
</head>

<body class="hold-transition sidebar-mini" style="font-size: 11pt">
    <div id='loader' style='display: none; position:fixed ;top:20%;left:50%; z-index:1100'>
        <img src="~/images/ejemploLoading.gif" width="100" height="100">
    </div>

    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-info">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @*@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()" role="button">
                            <i class="fas fa-power-off mr-2"></i> Cerrar Sesión
                        </a>
                    }*@
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                @*<img src="../../dist/img/AdminLTELogo.png"
                         alt="AdminLTE Logo"
                         class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">AdminLTE 3</span>*@
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/images/user-management-vector-icon.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    @*<div class="info">
                            <a href="#" class="d-block">@User.Identity.GetUserName()</a>
                        </div>*@
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul id="appMenu" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Catálogos
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Ruta")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Rutas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Caseta")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Casetas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "Unidad")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Unidades</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Index", "TipoCombustible")" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Precios de Combustible</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            
                            <a href="@Url.Action("Index", "Presupuesto")" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    
                                    Generar Presupuesto
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Reportes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="contenido">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.5
            </div>
            <strong>Copyright &copy; 2020 <a href="">Tortoise journey</a>.</strong> All rights
            reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- Bootstrap 4 -->
    @Scripts.Render("~/bundles/boostrap")
    <!-- jquery-validation -->
    @*.Include("~/dist/js/adminlte.min.js")
        .Include("~/dist/js/demo.js"));*@
    <script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="../../Assets/bootstrap-datepicker.js"></script>
    <!-- Select2 -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.0"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- AdminLTE App -->

    @Scripts.Render("~/bundles/adminlte")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/axios")
    @Scripts.Render("~/bundles/growl")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/inputmask")
    @*@Scripts.Render("~/bundles/utilerias")*@

    @RenderSection("scripts", required: false)
    <script>
        const appMenu = new Vue({
            el: '#appMenu',
            data: {

            },
            methods: {
                //menu: function (opcion) {
                //    switch (opcion) {
                //        case 1:/*Tipo Pregunta*/
                //            /**/
                //            $("#contenido").load('TipoPreguntas/index');
                //            /**/
                //            break;
                //    }
                //    //alert(opcion);
                //}
            },
            mounted: function () {
            }
        });
            //$(".justNumbers").keydown(function (event) {
            //    if ((event.keyCode < 48 || event.keyCode > 57) &&
            //        (event.keyCode < 33 || event.keyCode > 40) &&
            //        (event.keyCode != 8 && event.keyCode != 45 && event.keyCode != 12)) {
            //        return false;
            //    }
            //});

        </script>
    <!-- InputMask -->

</body>
</html>

