﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Página de Inicio</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    @Styles.Render("~/Content/login_estilo")
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="external-page sb-l-c sb-r-c">
    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <!-- Begin: Content -->
            <section id="content">
                <div class="admin-form theme-info" id="login1" style="width:500px;">
                    <div class="row mb15 table-layout">
                        <div class="col-xs-6 va-m pln">
                            <img src="~/Content/Imagenes/logo.png" title="Smart Solar" class="img-responsive w250">
                        </div>
                    </div>

                    <div class="panel panel-info mt10 br-n">
                        <!-- end .form-header section -->
                        <form id="formLogin" @@submit.prevent="acceso">
                            @Html.AntiForgeryToken()
                            <div class="panel-body bg-light p30">
                                <div class="row">
                                    <div class="col-sm-12 pr30">
                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">User</label>
                                            <label for="username" class="field prepend-icon">
                                                <input name="UserName" type="text" id="UserName" class="gui-input" placeholder="User" value="" data-val-required="The field is required." data-val="true">
                                                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="UserName"></span>
                                                <label for="UserName" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                            <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="UserName"></span>
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="Password" id="Password" class="gui-input" placeholder="Password" data-val-required="El campo Password es obligatorio." data-val="true">
                                                <label for="Password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                            <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="Password"></span>
                                        </div>
                                        <!-- end section -->
                                    </div>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix p10 ph15">
                                <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                                <label class="switch ib switch-primary pull-left input-align mt10">
                                    <input type="checkbox" name="RememberMe" id="RememberMe" checked>
                                    <label for="RememberMe" data-on="SI" data-off="NO"></label>
                                    <span>Remember me</span>
                                </label>
                            </div>
                            <!-- end .form-footer section -->
                        </form>
                    </div>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/es6-promise")
    @Scripts.Render("~/bundles/login_scripts")
    <!-- Page Javascript -->
    <script type="text/javascript">
        jQuery(document).ready(function () {

            "use strict";

            // Init Theme Core
            Core.init();
            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });
        });

    </script>
</body>
</html>

