﻿
@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/growl")
    @Styles.Render("~/Content/datatable")

}

@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>TipoCombustible</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
                    <li class="breadcrumb-item active">TipoCombustible</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-body" v-cloak id="app">
            <div class="row">
                @*<div class="col-md-12">
                        <button @@click="agregar" type="button" class="btn btn-sm btn-secondary">
                            <i class="fa fa-plus-circle mr-1"></i>Agregar TipoCombustible
                        </button>
                    </div>*@
                <hr />
                <div class="col-md-12 mt-2">
                    <div class="table-responsive">
                        <table id="tblTipoCombustible" class="table w-100">
                            <thead>
                                <tr>
                                    <th>
                                        Tipo de Combustible
                                    </th>
                                    <th>
                                        Precio por litro
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            @*Modal*@
            <div class="modal fade" id="modalTipoCombustible">
                <form id="formTipoCombustible" method="post" @@submit.prevent="guardar">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="modal-title">{{esNuevo ? 'Agregar' : 'Editar'}} TipoCombustible</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.ID_TIPO_COMBUSTIBLE, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.ID_TIPO_COMBUSTIBLE, new { id = "IdTipoCombustible", value = 0, htmlAttributes = new { @class = "form-control justNumbers", @min = "1", @pattern = "^[0-9]+" } })
                                            @Html.ValidationMessageFor(model => model.ID_TIPO_COMBUSTIBLE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.LabelFor(model => model.TIPO_COMBUSTIBLE, htmlAttributes: new { @class = "control-label" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.TIPO_COMBUSTIBLE, new { id = "TipoCombustible", value = "", htmlAttributes = new { @class = "form-control justNumbers", @min = "1", @pattern = "^[0-9]+" } })
                                            @Html.ValidationMessageFor(model => model.TIPO_COMBUSTIBLE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                                    <i class="fa fa-times mr-1"></i>Cancelar
                                </button>
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-save mr-1"></i> Guardar
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </form>
            </div>


            <!-- /.modal -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>

<script>
 
    const app = new Vue({
        el: '#app',
        data: {
            indice: 0,
            esNuevo: false,

            TipoCombustible: {
                IdTipoCombustible: null,
                TipoCombustible: ''
            },
            siguiente: 0
        },
        methods: {
            listado: function () {
                let columnas = [{ "data": "TIPO_COMBUSTIBLE" }, { "data": "COSTO_LITRO" }];
                $.Tablas.TablaAjax("#tblTipoCombustible", "/TipoTransporte/Listado", "get", columnas);
            },

        },
        mounted: function () {
            this.listado();
        }
    });
</script>
@*<script src="../../Vue/TipoCombustibleController.js"></script>*@