﻿<style>
        .error {
         color: red;
        }
    </style>

@{
    ViewBag.Title = "Index";
}

@section Styles{
    @Styles.Render("~/Content/growl")
    @Styles.Render("~/Content/datatable")
    <link rel="stylesheet" href="../../Assets/bootstrap-datepicker.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">


}


@Scripts.Render("~/bundles/vue")
@Scripts.Render("~/bundles/axios")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/datatable")
<script src="../../Assets/bootstrap-datepicker.js"></script>
<!-- date-range-picker -->
<script src="../../plugins/daterangepicker/daterangepicker.js"></script>
<!-- InputMask -->
<script src="../../plugins/moment/moment.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../../plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Generar Presupuesto</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Catálogos</a></li>
                    <li class="breadcrumb-item active">Casetas</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" id="app">
    <!-- time Picker -->

    <div class="card">
        <form id="form" method="post" @@submit.prevent="Generar">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-5">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Ciudad de salida</label>
                                    <select v-model="selectedSalida" name="ciudadOrigen" class="myselect form-control requerido" id="ciudadOrigen">
                                        <option v-for="option in ciudades" v-bind:value="option.ID_CIUDAD">
                                            {{ option.CIUDAD }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label>Ciudad Destino</label>
                                    <select v-model="selectedDestino" name="ciudadDestino" class="myselect form-control requerido" id="ciudadDestino">
                                        <option v-for="option in ciudades" v-bind:value="option.ID_CIUDAD">
                                            {{ option.CIUDAD }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label for="checkboxSuccess1">
                                    Viaje Redondo
                                </label>
                                <div class="form-group clearfix" style="position: absolute; left: 35%">
                                    <div class="icheck-success d-inline">
                                        <input type="checkbox" checked="" id="esRedondo">
                                        <label for="esRedono">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- checkbox -->

                        <div class="row">
                            <div class="col-sm-3">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Fecha de salida:</label>
                                    <div class="input-group date" data-target-input="nearest">
                                        <input type="text" name="fSalida" id="fSalida" v-model="fSalida" class="form-control datetimepicker-input requerido" data-target="#reservationdate">
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Hora de salida</label>

                                        <div class="input-group date" data-id="hSalida" target-input="nearest">
                                            <input type="text" v-model="hSalida" name="hSalida" id="hSalida" class="form-control requerido datetimepicker-input" data-target="#hSalida">
                                            <div class="input-group-append" data-target="#hSalida" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Fecha de Regreso:</label>
                                    <div class="input-group date" data-target-input="nearest">
                                        <input type="text" name="fRegreso" id="fRegreso" v-model="fRegreso" class="form-control datetimepicker-input requerido" data-target="#reservationdate">
                                        <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Hora de Regreso:</label>

                                        <div class="input-group date" data-id="hRegreso" data-target-input="nearest">
                                            <input type="text" name="hRegreso" id="hRegreso" v-model="hRegreso" class="form-control requerido datetimepicker-input" data-target="#hRegreso">
                                            <div class="input-group-append" data-target="#hRegreso" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="far fa-clock"></i></div>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Rutas</label>
                                    <select v-model="selectedRuta" name="ruta" class="myselect form-control requerido" id="ruta">
                                        <option v-for="option in rutas" v-bind:value="option.ID_RUTA">
                                            {{ option.destinosDesc }}
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Cantidad de pasajeros</label>
                                    <input type="text" v-model="cantPasajeros" name="cantPasajeros" id="cantPasajeros" class="justNumbers form-control requerido">
                                </div>
                            </div>
                            @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Tipo de transporte </label>
                                        <select v-model="selectedtransporte" name="transporte" class="myselect form-control requerido" id="transporte" >
                                            <option v-for="option in transportes" v-bind:value="option.ID_TIPO_TRANSPORTE">
                                                {{ option.TIPO_TRANSPORTE }}
                                            </option>
                                        </select>
                                    </div>
                                </div>*@
                            <div class="col-md-12 mt-2" id="casetas">
                                <label>Peajes</label>
                                <div class="table-responsive">
                                    <table id="tblCasetas" class="table w-100">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Unidad
                                                </th>


                                                <th>
                                                    Ubicacion de Caseta
                                                </th>
                                                <th>
                                                    TipoTransporte
                                                </th>
                                                <th>
                                                    Costo
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                @*<div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cantidad de pasajeros</label>
                                <input type="text" v-model="cantPasajeros" name="cantPasajeros" id="cantPasajeros" class="justNumbers form-control requerido" >
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="card-footer">
                <button type="submit" id="btnGenerar" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <!-- /.card-body -->
        <!-- /.card -->
    </div>

</section>

<section class="content" id="presupuesto">
    <div class="card">
        <form id="form" method="post" @@submit.prevent="Generar">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Ruta: </label>
                                    <input v-model="ruta" name="ruta" class="myselect form-control requerido" id="ruta" disabled>
                                    </input>
                                </div>
                                <div class="form-group">
                                    <label>Nombre Ruta: </label>
                                    <input v-model="nombreRuta" name="nombreRuta" class="myselect form-control requerido" id="nombreRuta" disabled>
                                    </input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fecha salida: </label>
                                    <input v-model="fechaPar" name="fechaPar" class="myselect form-control requerido" id="fechaPar" disabled>
                                    </input>
                                </div>
                                <div class="form-group">
                                    <label>Hora salida: </label>
                                    <input v-model="horaPar" name="horaPar" class="myselect form-control requerido" id="horaPar" disabled>
                                    </input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Fecha Retorno: </label>
                                    <input v-model="FechaRe" name="FechaRe" class="myselect form-control requerido" id="FechaRe" disabled>
                                    </input>
                                </div>
                                <div class="form-group">
                                    <label>Hora Retorno: </label>
                                    <input v-model="horRe" name="horRe" class="myselect form-control requerido" id="horRe" disabled>
                                    </input>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Consepto de viaticos: </label>
                                    <input v-model="viaticos" name="viaticos" class="myselect form-control requerido" id="viaticos" disabled>
                                    </input>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mt-2" id="peajes">
                            <label>Peajes</label>
                            <div class="table-responsive">
                                <table id="tblpeajes" class="table w-100">
                                    <thead>
                                        <tr>
                                            <th>
                                                Unidad
                                            </th>


                                            <th>
                                                Ubicacion de Caseta
                                            </th>
                                            <th>
                                                TipoTransporte
                                            </th>
                                            <th>
                                                Costo
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 mt-2" id="peajes">
                            <label>Combustible</label>
                            <div class="table-responsive">
                                <table id="tblCombustible" class="table w-100">
                                    <thead>
                                        <tr>
                                            <th>
                                                Unidad
                                            </th>

                                            <th>
                                                Costo combustible
                                            </th>
                                            <th>
                                                Tipo combustible
                                            </th>
                                            <th>
                                                Costo kilometraje
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                @*tipoTransporte = precio != null ? precio.tipoTransporte : string.Empty,
        COSTO = precio != null ? precio.COSTO : 0,
        caseta = precio != null ? precio.caseta : string.Empty,
        unidad = i.ID_UNIDAD.ToString()*@
            </div>
            <div class="card-footer">
                <div class="form-group">
                    <label>Total: </label>
                    <input v-model="total" name="total" class="myselect form-control requerido" id="total" disabled>
                    </input>
                </div>
            </div>
        </form>
        <!-- /.card-body -->
        <!-- /.card -->
    </div>
</section>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            indice: 0,
            esNuevo: false,
            ciudades: [
                {
                    ID_CIUDAD: 0,
                    CIUDAD: ''
                },
            ],
            selectedSalida: '',
            selectedDestino: '',
            rutas: [
                {
                    ID_RUTA: 0,
                    destinosDesc: ''
                },
            ],
            selectedRuta: '',
            Caseta: {
                IdCaseta: null,
                Caseta: ''
            },
            transportes: [
                {
                    ID_TIPO_TRANSPORTE: 1,
                    TIPO_TRANSPORTE: 'Nombre'
                },
            ],
            selectedtransporte: '',
            siguiente: 0,
            fSalida: '',
            hSalida: '',
            fRegreso: '',
            hRegreso: '',
            esRedondo: '',
            cantPasajeros: ''
        },
        methods: {

            TablaCasetas: function () {
                debugger;
                $("#casetas").css("display", "none");
                if (this.cantPasajeros != null && this.cantPasajeros > 0
                    && this.selectedRuta != null && this.selectedRuta > 0) {
                    $("#casetas").css("display", "block");
                    let columnas = [{ "data": "unidad" },{ "data": "caseta" }, { "data": "tipoTransporte" }, { "data": "COSTO" }];
                    $.Tablas.TablaAjax("#tblCasetas", "/Caseta/ListadoCostosCantidadYRuta?idRuta=" + this.selectedRuta + "&cantidad=" + this.cantPasajeros , "get", columnas);
                    //$.Tablas.TablaAjax("#tblCasetas", "/Caseta/ListadoCostos?idRuta=" + this.selectedRuta + "&idTrans=" + this.selectedtransporte, "get", columnas);
                }

            },
            ComboRutas: function () {
                this.selectedRuta = '';
                $("#casetas").css("display", "none");
                var self = this;
                if (this.selectedSalida != null && this.selectedSalida > 0
                    && this.selectedDestino != null && this.selectedDestino > 0) {
                    axios.get('/Ruta/ListadoConSalidaYDestino', {
                        params: { salida: this.selectedSalida, destino: this.selectedDestino }
                    }).
                        then(response => {
                          
                            self.rutas = response.data;


                        }).catch(function (error) {
                            $.growl.notice({ title: "Error", message: error });
                        });
                }
            },

            InicializarCombos: function () {
                var self = this;
                axios.all(
                    [
                        axios.get(' ' + "../Ciudades/Listado")
                        //axios.get(' ' + "../TipoTransporte/Listado")
                    ])
                    .then(axios.spread(function (_ciudades) {
                        self.ciudades = _ciudades.data;
                    })).catch(function (error) {
                        $.growl.notice({ title: "Error", message: error });
                    });
            },
            ValidarForm: function () {
                debugger;
                this.fSalida = $("#fSalida").val();
                this.hSalida = $("#hSalida").val();
                this.fRegreso = $("#fRegreso").val();
                this.hRegreso = $("#hRegreso").val();
                if (this.selectedtransporte != null  && this.selectedSalida != null && this.selectedSalida != "" &&
                    this.selectedDestino != null && this.selectedDestino != "" && this.selectedRuta != null && this.selectedRuta != "" &&
                    this.fSalida != null && this.fSalida != "" && this.hSalida != null && this.hSalida != "" && this.cantPasajeros != null && this.cantPasajeros != "")
                {
                    debugger;
                    $("#btnGenerar").removeAttr("disabled");
                }
                else {
                    $("#btnGenerar").attr("disabled", "disabled");
                }


            },
            Generar: function (e) {
                e.preventDefault();
                var value = $("#form").valid();
                if ($("#form").valid()) {
                    debugger;
                    var self = this;
                    this.fSalida = $("#fSalida").val();
                    this.hSalida = $("#hSalida").val();
                    this.fRegreso = $("#fRegreso").val();
                    this.hRegreso = $("#hRegreso").val();
                    this.esRedondo = $("#esRedondo").is(":checked");
                    axios.get('/Presupuesto/Generar', {
                        params: {
                            ciudadOrigen: this.selectedSalida, ciudadDestino: this.selectedDestino, fSalida: this.fSalida, hSalida: this.hSalida, fRegreso: this.fRegreso,
                            hRegreso: this.hRegreso, ruta: this.selectedRuta, cPasajeros: this.cantPasajeros, esRedondo: this.esRedondo
                        }
                    }).then(response => {
                        
                        presupuesto.ruta = response.data.DatosGenerales.ruta;
                        presupuesto.nombreRuta = response.data.DatosGenerales.nombreRuta;
                        presupuesto.fechaPar = response.data.DatosGenerales.fechaPar;
                        presupuesto.horaPar = response.data.DatosGenerales.horaPar;
                        presupuesto.FechaRe = response.data.DatosGenerales.FechaRe;
                        presupuesto.horRe = response.data.DatosGenerales.horRe;
                        presupuesto.totalPeajes = response.data.totalPeaje;
                        presupuesto.viaticos = response.data.viaticos;
                        presupuesto.total = response.data.total;
                        presupuesto.Inicializa(this.selectedRuta, this.cantPasajeros);
                        $("#app").css("display", "none");
                        $("#presupuesto").css("display", "block");
                    }).catch(function (error) {
                     
                        $.growl.notice({ title: "Error", message: error });
                    });
                }
            }
        },
        mounted: function () {
            var self = this;
            this.InicializarCombos();
            
            $("#presupuesto").css("display", "none");
            $("#casetas").css("display", "none");
            $('#fRegreso').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true
            });
            $('#fSalida').datepicker({
                'format': 'dd/mm/yyyy',
                'autoclose': true
            });

            $('#hSalida').datetimepicker({
                format: 'LT',
                pickDate: false
            });

            $('#hRegreso').datetimepicker({
                format: 'LT',
                pickDate: false
            });
            $('#ciudadOrigen').change(function () {
                self.ComboRutas();
            });
            $('#ciudadDestino').change(function () {
                self.ComboRutas();
            });
            $('#ruta').change(function () {
                debugger;
                self.TablaCasetas();
            });
            $('#cantPasajeros').change(function () {
                debugger;
                self.TablaCasetas();
            });
            $('.requerido').change(function () {
                self.ValidarForm();
            });
            $('#hSalida').change(function () {
                self.ValidarForm();
            });
            $('#hRegreso').change(function () {
                self.ValidarForm();
            });
            $("#Presupuesto").css("display", "none");
            $(".justNumbers").keydown(function (event) {
                if ((event.keyCode < 48 || event.keyCode > 57) &&
                    (event.keyCode < 33 || event.keyCode > 40) &&
                    (event.keyCode != 8 && event.keyCode != 45 && event.keyCode != 12)) {
                    return false;
                }
            });

            $("#form").validate({
                rules: {
                    ciudadOrigen: 'required',
                    ciudadDestino: 'required',
                    fSalida: 'required',
                    hSalida: 'required',
                    ruta: 'required',
                    cantPasajeros: 'required'
                },
                messages: {
                    ciudadOrigen: 'campo requerido',
                    ciudadDestino: 'campo requerido',
                    fSalida: 'campo requerido',
                    hSalida: 'campo requerido',
                    ruta: 'campo requerido',
                    cantPasajeros: 'campo requerido'
                },
            });

            $("#btnGenerar").attr("disabled", "disabled");
            $("#ciudadOrigen").attr("required", "true");
            $("#ciudadDestino").attr("required", "true");
            $("#fSalida").attr("required", "true");
            $("#hSalida").attr("required", "true");
            $("#ruta").attr("required", "true");
            $("#cantPasajeros").attr("required", "true");
        }
    });
    const presupuesto = new Vue({
        el: '#presupuesto',
        data: {
                ciudadOrigen: '',
                ciudadDestino: '',
                fSalida: '',
                hSalida: '',
                fRegreso: '',
                hRegreso: '',
                ruta: '',
                cPasajeros: '',
            esRedondo: '',
            viaticos: '',
            total: ''
        },
        methods: {

            Inicializa: function (ruta, cantidad) {
                debugger;
            
                let columnas = [{ "data": "unidad" }, { "data": "caseta" }, { "data": "tipoTransporte" }, { "data": "COSTO" }];
                $.Tablas.TablaAjax("#tblpeajes", "/Caseta/ListadoCostosCantidadYRuta?idRuta=" + ruta + "&cantidad=" + cantidad, "get", columnas);
                let columnasCombustible = [{ "data": "ID_UNIDAD" }, { "data": "costoCombustible" }, { "data": "tipoCombustible" }, { "data": "kilometraje" }];
                $.Tablas.TablaAjax("#tblCombustible", "/Presupuesto/costosCombustible?cantidad=" + cantidad + "&ruta=" + ruta, "get", columnasCombustible);
            }
        }
    });

</script>
@*<script src="../../Vue/CasetaController.js"></script>*@